
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>
	<%- include('css/style'); %>
</head>
<button onclick="window.location.href='/login'">Log Out</button>

<% if(user) { %>
<%- include('user'); %>
<% } else { %>
<%- include('restaurant'); %>
<% } %>

<script src="/socket.io/socket.io.js"></script>

<script>
	var own = '<%- own%>';
	var username = '<%- username%>'
	if (own) {
		var socket = io()
		socket.emit('self room', {username: username});
	}
</script>