<head>
	<%- include('css/style'); %>
</head>

<style> /* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
	#profilePic {
		margin-top: 25px;
		margin-left: 20px;
		height: 150px;
		width: 150px;
		border-radius: 150px;
		background: #666666;//linear-gradient(to bottom, #afb8c2, lightgray, white);//#afb8c2;
		border: 2px solid #666666;
	}
	
	#header {
		//position: absolute;
		
		width: min(900px, 95%);
		display: flex;
		//box-shadow: 5px 5px 10px #20537A;
		background: transparent;
		//border-radius: 25px;
		margin: auto;
		margin-top: 10px;
		height: 200px;
		border-bottom: 1px solid #dddddd;
	}
	#header > #info {
		text-align: center;
		padding-left: 10px;
	}
	#header > #info > #name {
		font-family: Monaco;
		font-weight: bolder;
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 26px;
	}
	#header > #info > #email {
		margin-top: 30px;
	}
	
	#header > #rightheader {
		margin-left: auto;
		margin-right: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		text-align: right;
	}
	#header > #rightheader > button {	/* #20537A #38698E #5481A4 #81A8C6 #B6D0E4 */
		border: none;
		background: #eeeeee;//linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		color: black;
		border-radius: 5px;
		width: 105px;
		font-size: 100%;
	}
	
	#header > #rightheader > button:hover {
		background: #bbbbbb;//linear-gradient(to bottom right, #cedde9, #81A8C6, #5481A4);
	}
	
	#header > #rightheader > form > #chatButton {
		border: none;
		background: #eeeeee;//linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		color: black;
		border-radius: 5px;
		width: 105px;
		font-size: 14px;
		margin-top: 60px;
	}
	
	#header > #rightheader > form > #chatButton:hover {
		background: #bbbbbb;//linear-gradient(to bottom right, #cedde9, #81A8C6, #5481A4);
	}
	
	#header > #rightheader > #upload {
		margin-top: 75px;
	}
	
	label {
		cursor: pointer;
		background: #eeeeee;//linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		border: none;
		color: black;
		border-radius: 5px;
		font-size: 14px;
		padding-top: 2.5px;
		padding-bottom: 2.5px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	label:hover {
		background: #bbbbbb;//linear-gradient(to bottom right, #cedde9, #81A8C6, #5481A4);
	}

	#upload-photo {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
	
	#reviews-div {
		height: 170px;
		max-width: min(95%, 1200px);
		overflow-x: auto;
		display: flex;
		font-size: 14px;
		margin: auto;
		margin-top: 10px;
		border-right: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
	}
	.review {
		margin-top: 0px;
		background: white;
		width: max(20vw, 300px);
		min-width: max(25vw, 300px);
		height: 150px;
		margin-bottom: 0px;
		border-right: 1px solid #dddddd;
		
		//box-shadow: 5px 5px 10px #20537A;
		background: none;//radial-gradient(#cedde9, #81A8C6);
		padding-top: 10px;
		padding-bottom: 10px
	}
	.profilePicRev {
		width: 35px;
		height: 35px;
		border-radius: 35px;
		margin-right: 10px;
	}
	
	.top-review {
		margin-top: 10px;
		margin-left: 10px;
		text-align: left;
		font-size: 16px;
	}
	
	.center {
		display: flex;
		justifyContent: center;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		height: 65px;
		padding-right: 10px;
		padding-bottom: 10px;
		overflow-y: auto;
	}
	
	.bottom-review {
		text-align: right;
		color: gray;
		padding-right: 10px;
	}
	
	#review-popup {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: rgba(0, 0, 0, 50%);
	}
	
	#review-form {
		border-radius: 20px;
		margin-top: 25vh;
		margin-left: 25vw;
		padding: 5vh 2.5vw 5vh 2.5vw;
		width: 45vw;
		height: 40vh;
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
		box-shadow: 5px 5px 10px #20537A;
		border: 2px solid #20537A;
	}
	
	#review-input {
		width: 38vw;
		height: 30vh;
		border-radius: 20px;
		padding: 2.5vh 1vw 2.5vh 1vw;
	}
	
	#review-submit {
		width: 38vw;
		background: linear-gradient(to top left, #20537A, #38698E, #5481A4, #81A8C6);
		color: white;
		margin-top: 5vh;
		padding: 2.5vh 1vw 2.5vh 1vw;
	}
	
	#review-submit:hover {
		background: linear-gradient(to bottom right, #20537A, #38698E, #5481A4, #81A8C6);
	}
	
	#create-post {
		text-decoration: none;
		color: #38698E;
		font-size: 24px;
		margin-top: 20px;
	}
	
	#gear {
		color: white;
	}
	
	@media only screen and (max-width: 700px) {
		#header {
			width: 98vw;
			height: 175px;
		}
		
		#profilePic {
			height: 125px;
			width: 125px;
			border-radius: 125px;
			margin-top: 25px;
		}
		#header > #info > #email {
			margin-top: 5px;
		}
		
		#header > #rightheader {
			right: 1vw;
			height: 175px;
		}
		#header > #rightheader > #upload {
			margin-top: 60px;
		}
		#header > #rightheader > form > #chatButton {
			margin-top: 55px;
		}
		#reviews-div {
			height: 145px;
		}
		.review {
			height: 125px;
		}
		.center {
			height: 45px;
		}
		
	}
	
	@media (prefers-color-scheme: dark) {
		#header {
			//background: black;
			color: white;
		}
		.review {
			//background: black;
			color: white;
			border-color: white;
			
		}
		#header > #rightheader > button {
			background: black;
			color: white;
		}
		#header > #rightheader > button:hover {
			background: #666666;
			border: 1px black solid;
		}
		label {
			color: white;
			background: black;
		}
		label:hover {
			background: #666666;
			border: 1px black solid;
		}
		#gear {
			color: black;
		}
		
		#gear:hover {
			color: #666666;
		}
		#header > #rightheader > form > #chatButton {
			background: black;
			color: white;
		}
		#header > #rightheader > form > #chatButton:hover {
			background: #666666;
			border: 1px black solid;
		}
	}
	
	
	
	
</style>

<%if (own) {%>
	<style>
		#bar > #top-user {
			color: #AAAAAA;
		}
		@media (prefers-color-scheme: dark) {
			#bar > #top-user {
				color: #AAAAAA;
			}
		}
	</style>
<%} %>

<title><%- name%> / Staffer</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="/socket.io/socket.io.js"></script>

<script>
	var own = '<%- own%>';
	var username = '<%- username%>'
	if (own) {
		var socket = io()
		socket.emit('self room', {username: username});
	}
	
	var getProfilePic = function() {
		$.get("/user-pic/" + username, function(url) {
			var image = document.getElementById("profilePic")
			if (url.length > 0) {
				image.src = url
			}
			
		});
	}
	getProfilePic()
</script>

<div id="header">
	<img id="profilePic"></img>
	<div id="info">
	<%if (name) {%>
		<p id="name" text-align:left;"><%= name %></p>
	<%}%>
	<%if (username) {%>
		<p id="username"><i>&#64<%= username %></i></p>
	<%}%>
	<%if (email) {%>
		<p id="email"><%= email %></p>
	<%}%>
	</div>
	<div id="rightheader">
		<%if (own) {%>
				<span style="margin-top: 20px; margin-bottom: -20px; margin-left: auto">
					<a href='/settings' style='text-decoration:none;' id="gear">
						<i class="fa-solid fa-gear fa-lg"></i>
					</a>
				</span>
				<form id="upload" method="post" enctype="multipart/form-data">
					<label for="upload-photo">Edit Profile Pic<input type="file" id="upload-photo" name="photo" accept="image/*" /></label>
				</form>
				<button id="logout" onclick="window.location.href='/login'">Log Out</button>
				<%if (!user) { %>
					<a id="create-post" href="/create-post"><i class="fa-regular fa-square-plus"></i></a>
				<%} %>
			
		<%} else {%>
			<form onclick="openChat()" action="#" onsubmit="return false">
				<input type="submit" id="chatButton" value="Chat">
			</form>
			
			<button id="reviewButton" onclick='createReview()'>Review</button>
		<%}%>
	</div>
	
</div>
<div id="reviews-div"></div>
<div id='review-popup'>
	<form id='review-form' method='POST' action='/review'>
		<textarea name='review' id='review-input' type='paragraph' required></textarea><br>
		<input type='submit' value='Submit' id='review-submit'>
		<input type='hidden' name='username' value=<%= username%> >
	</form>
</div>
<%if (!own) {%>
	<script>
		var username = '<%- username%>'
		var openChat = function() {
			$.post("/chats/" + username, {}, function(data) {
				console.log(data)
				window.location.href = "/chats?chatId=" + data
			})
			return false;
		}
	</script>
<%} %>

<script>
	var reviews = [];
	var username = '<%- username%>'
	var own = '<%- own%>'
	
	if (own && own == true) {
		var upload = document.getElementById("upload")
		
		upload.action = "/pics/" + username
		
		var photo = document.getElementById("upload-photo")
		photo.onchange = (e) => {
			upload.submit()
		}
	}

	var updateReviews = function() {
		var reviewsDiv = document.getElementById("reviews-div")
		$.get("/reviews?username=" + username, function(data) {
			if (!data) {
				return
			}
			data.forEach(function(review) {
				if (!reviews.includes(review._id)) {
					reviews.push(review._id);
					var reviewDiv = makeReview(review)
					reviewsDiv.appendChild(reviewDiv)
				}
				
			});
		});
		
		/*$.get("/stars?username=" + username, function(data) {
			console.log(data + " Stars")
			if (data && data != "undefined") {
				//rating.innerHTML = data + " stars";
			}
		});*/
	}
	
	var makeReview = function(review) {
		var reviewDiv = document.createElement("div")
		reviewDiv.className = "review"
		var top = document.createElement("div")
		top.className="top-review"
		var center = document.createElement("div")
		var bottom = document.createElement("div")
		reviewDiv.appendChild(top)
		reviewDiv.appendChild(center)
		reviewDiv.appendChild(bottom)
		
		center.className = "center"
		center.style.display = "flex"
		center.style.justifyContent = "center"
		
		bottom.className = "bottom-review"
		
		$.get("/user-pic/" + review.author, function(data) {
			if (data) {
				top.innerHTML = "<div style='float:left'><img src=" + data + " username=" + review.author + " class='profilePicRev'></img></div>"
				top.innerHTML += "<div username="+ review.author + ">" + review.name + "<i style='color:gray;font-family:Helvetica;'>@" + review.author + "</i></div>"
			} else {
				top.innerHTML = "<span class='profilePicRev' username=" + review.author + "><i class='fa fa-user fa-xl'></i></span>"
				top.innerHTML += review.name + "<i style='color:gray;font-family:Helvetica;'>@" + review.author + "</i>"
			}
			top.username = review.author
			top.onclick = (e) => {window.location.href='/profile/' + review.author}
			
		})
		top.innerHTML = "<span class='profilePicRev' username=" + review.author + "><i class='fa fa-user fa-xl'></i></span>"
		top.innerHTML += review.name + "<i style='color:gray'>@" + review.author + "</i>"
		top.style.fontFamily = 'Monaco'
		center.innerHTML = review.content
		var date = (Date.now() - new Date(review.created)) / 1000
		var dateString = Math.round(date + 1) + " seconds ago"
		if (date >= 59 && date < 60 * 60) {
			dateString = Math.round(date / 60) + " minutes ago"
		} else if (date >= 60 * 60 && date < 60 * 60 * 24) {
			dateString = Math.round(date / (60 * 60)) + " hours ago"
		} else if (date >= 60 * 60 * 24 && date < 60 * 60 * 24 * (365 + 0.25)) {
			dateString = Math.round(date / (60 * 60 * 24)) + " days ago"
		} else if (date >= 60 * 60 * 24 * (365 + 0.25)) {
			dateString = Math.round(date / (60 * 60 * 24 * (365 + 0.25))) + " years ago"
		}
		bottom.innerHTML = dateString
		return (reviewDiv)
	}
	
	updateReviews();
	
	
</script>

<%if (!own) {%>
<script>
	var popup = document.getElementById('review-popup')
	
	var createReview = function() {
		popup.style.display = 'block'
	}
	
	window.onclick = function(e) {
		if (event.target == popup) {
			popup.style.display = 'none'
		} else if(event.target == postPopup) {
			postPopup.style.display = 'none'
		}
	}
</script>
<%}%>

<% if(user) { %>
<%- include('user'); %>
<% } else { %>
<%- include('restaurant'); %>
<% } %>